@use "../breakpoints.scss" as breakpoints;

.hover {
    transition: var(--transition-micro-medium);

    &:hover {
        transform: translateX(var(--static-space-4));
    }
}

.avatar {
    position: static;
    height: fit-content;
}

@media (max-width: breakpoints.$s) {
    .avatar {
        position: static;
        margin-bottom: var(--static-space-24);
    }

    .textAlign {
        text-align: center;
    }

    .blockAlign {
        align-self: center;
    }
}
